{% extends 'base.html' %}
{% set active_page = "contact" %}

{% block content %}
<div class="container fs-2 d-grid gap-3 text-center">
        <div class="">
                <i class="bi bi-telephone-fill"></i> <span>(123)-234-4567</span>
        </div>
        <div>
                <i class="bi bi-envelope-fill"></i> <a class="link-dark"
                        href="mailto:gonzalesj1120@gmail.com">gonzalesj1120@gmail.com</a>
        </div>
        <div>
                <i class=" bi-github" role="img" aria-label="GitHub"></i> <a href="https://github.com/alaJream"
                        class="link-dark"> GitHub</a>
        </div>
        <div>
                <i class="bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/jeremy-gonzales-1b7b5021a/"
                        class="link-dark">LinkedIn</a>
        </div>
</div>
{% endblock %}