{% extends 'base.html' %}
{% set active_page = "index" %}

{% block content %}
<div class="container">
        <h1>Jeremy's Portfolio</h1>
        <p class="lead">        Hello there! My name is Jeremy Gonzales and I'm a student majoring in Applied Computer Science, at Dominican University of California. My main programming languages are
            Javascript and Python. As I am still a student in learning, take a look at what I have made so far!</p>
        <p class="lead">
          <a href="/projects/" class="btn btn-lg btn-dark fw-bold border-white">Learn more</a>
        </p>
    </p>
</div>
{% endblock %}