{% extends 'base.html' %}
{% set active_page = "projects" %}

{% block content %}
<div class="container">

    <a href="https://github.com/alaJream/oishibar" class="cardLink">
    <div class="row row-cols-1 row-cols-md-3 g-8">
        <div class="col">
            <div class="card h-100">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="card-img-top" alt="GitHub link">
                <div class="card-body">
                    <h5 class="card-title">Oishibar</h5>
                    <p class="card-text">
                        <ul>
                            <li>html, javascript, bootstrap</li>
                            <li>I'll open a restaurant someday and this is the website I made for it. I love sushi by the way.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        </a>

        <a href="https://github.com/alaJream/oishiMenu" class="cardLink">
        <div class="col">
            <div class="card h-100">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="card-img-top" alt="GitHub link">
                <div class="card-body">
                    <h5 class="card-title">OishiMenu</h5>
                    <p class="card-text">
                        <ul style="margin-bottom:50px;">
                            <li>Flask, python, html</li>
                            <li>Different way of making my restaurant website but to be able to order from the menu.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        </a>

        <a href="https://github.com/alaJream/VIERA-sps" class="cardLink">
        <div class="col">
            <div class="card h-100">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="card-img-top" alt="GitHub link">
                <div class="card-body">
                    <h5 class="card-title">VIERA-SPS</h5>
                    <p class="card-text">
                        <ul style="margin-bottom:50px;">
                            <li>html, javascript, css</li>
                            <li>A single page site of a product that is a goal of mine to create. An emotional support AI speaker.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </a>
    <a href="https://github.com/alaJream/tip-calculating-machine" class="cardLink">
        <div class="col">
            <div class="card h-100">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="card-img-top" alt="GitHub link">
                <div class="card-body">
                    <h5 class="card-title">Tip Calculating Machine</h5>
                    <p class="card-text">
                        <ul>
                            <li>html, javascript, css</li>
                            <li>Tip calculating website. Since I came in to the program without experience in coding, definitely one of the first projects I was proud to make. </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        </a>

        <a href="https://github.com/alaJream/snowman-hangman" class="cardLink">
        <div class="col">
            <div class="card h-100">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="card-img-top" alt="GitHub link">
                <div class="card-body">
                    <h5 class="card-title">Snowman-Hangman</h5>
                    <p class="card-text">
                        <ul style="margin-bottom:50px;">
                            <li>python</li>
                            <li>Evil snowman hangman game using python.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        </a>

        <a href="https://github.com/alaJream/mood-shop" class="cardLink">
        <div class="col">
            <div class="card h-100">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="card-img-top" alt="GitHub link">
                <div class="card-body">
                    <h5 class="card-title">Ecommerce, Mood Shop</h5>
                    <p class="card-text">
                        <ul style="margin-bottom:50px;">
                            <li>html, javascript, css</li>
                            <li>An ecommerce website. This was very fun to make and has great visuals on what Moods you can buy.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        </a>
    </div>
</div>
{% endblock %}